/* contact.css */

#contact {
  padding: 3rem 1rem;
  max-width: 600px;
  margin: 0 auto;
}

#contact h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

#contact p {
  text-align: center;
  margin-bottom: 2rem;
  color: #555;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  padding: 10px;
  font-size: 1rem;
    font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  font-size: medium;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical; /* textarea only */
}

#contact textarea {
  resize: vertical;
}

#contact button[type="submit"] {
  padding: 12px;
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  font-size: medium;
  font-weight: 600;
  background-color: #9d8ced;
  color: black;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

#contact button[type="submit"]:hover {
  background-color: #2ECCB0;
}
