body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #151840;
  z-index: 999;
  animation: slideUpNavbar 1.5s ease-in-out 2.1s forwards;

    /* Make sure to preserve smooth edges */
  will-change: height, border-radius;
}

@keyframes slideUpNavbar {
  0% {
    top: 0;
    height: 100vh;
  }
  100% {
    top: 0;
    height: 100px; /* becomes navbar height */
  }
}


/* navbar.css */

.navbar-content {
  height: 90px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  animation: fadeInAfterDelay 1s ease forwards;
  animation-delay: 3s;
}


@keyframes fadeInAfterDelay {
  to {
    opacity: 1;
  }
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
}

.navbar-content div {
  padding: 10px 15px;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}


