body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overlay-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #151840;
  z-index: 999;
  animation: slideUpNavbar 1.5s ease-in-out 4s forwards;

    /* Make sure to preserve smooth edges */
  will-change: height, border-radius;
}

@keyframes slideUpNavbar {
  0% {
    top: 0;
    height: 100vh;
  }
  100% {
    top: 0;
    height: 100px; /* becomes navbar height */

     border-bottom-left-radius: 60px;  /* Half the height */
     border-bottom-right-radius: 60px;
  }
}


